.mainDiv{
    width: 100%;
    min-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7d64a;
  background-image: linear-gradient(
    21deg,
    #f7d64a 0%,
    #fffb7d 33%,
    #fffb7d 66%,
    #f9c20f 100%
  );
  }
  .button:hover{
      background-color: #ffbc08  !important;
  }